html,
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: $weather-secondary-dark;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;

  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &::before,
    &::after {
      display: none;
    }
  }

  .container {
    max-width: 1199px;
    padding-left: 20px;
    padding-right: 20px;
    @include auto-margin-side;

    @media screen and (max-width: 1199px) {
      max-width: 901px;
    }
    @media screen and (max-width: 991px) {
      max-width: 707px;
    }
    @media screen and (max-width: 767px) {
      max-width: 503px;
    }
    @media screen and (max-width: 543px) {
      max-width: 100%;
    }
  }

  .safe-area {
    @include auto-margin-side-width(850px, 550px, 400px);
  }
}

/* Custom Scrollbar */
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $weather-secondary;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($weather-primary, 0.6);

    &:hover {
      background: rgba($weather-primary, 0.85);
    }
  }
}

/* Font weights */
body {
  .extra-light {
    font-weight: $extra-light;
  }

  .light {
    font-weight: $light;
  }

  .regular {
    font-weight: $regular;
  }

  .medium {
    font-weight: $medium;
  }

  .semi-bold {
    font-weight: $semi-bold;
  }

  .bold {
    font-weight: $bold;
  }
}

/* Typography */
body {
  .text-center {
    text-align: center;
  }
}