/* Colours */
$black: #000000;
$white: #FFFFFF;
$grey: #F5F5F5;
$dark-grey: #111111;
$blue: #4333FF;
$dark-blue: #1200da;
$purple: #8774F8;
$blueish-purple: #0C0921;
$red: #E94848;
$green: #27AE60;
$yellow: #c1981b;

/* Font Weight */
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;

/* Utilities */
$transition: 350ms all ease;


/* Starter Theme Variables */
/* Theme colors */
$weather-primary: $blue; 
$weather-primary-dark: $dark-blue; 
$weather-secondary: $purple;
$weather-secondary-dark: $blueish-purple;

/* Fonts */
$weather-primary-fonts: 'Questrial';
$weather-secondary-fonts: 'Inter';